.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin-left: 8px;
    height: 100vh; /* This makes the container take the full height of the viewport */
  }
  
  body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  body {
    transition: background-color 0.5s, color 0.5s;
  }